<%- include('../layouts/head.ejs') %>
        <title><%= docTitle %></title>
    </head>
    <body>
        <%- include('../layouts/navigation.ejs') %>
        <main>
            <% if (products.length > 0) {%>
                <ul>
                    <% products.forEach(p => { %>
                        <li><%= p.productData.title %> <%= p.quantity %></li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>Your Cart is empty!</h1>
            <% } %>
        </main>
        <%- include('../layouts/end.ejs') %>